.header_background{
	background-color: #2ecc71;
	padding: 200px 0px 15px 15px;
	color: white;
	margin:0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 15px;
	background-color: #34495e; 
	border-top: 5px solid #27ae60;
	border-bottom: 5px solid #2c3e50; 
	text-align: right;
}

li {
	display:inline;
	color: white;
	text-align: right;
} 
a {
	color:white;
	text-decoration: none;
	padding: 0px 15px 15px 0px;
}